<li>
  <span class="city"><%= point.city %></span>
  <span class="state"><%= point.state %></span>
  <span class="country"><%= point.country %></span>
  <span class="magnitude"><%= point.magnitude %></span>
</li>
