@import "../general/mixin";

$title-width: 250px;

#title {
  @include content(24px);
  top: 20px;
  width: 250px;
  left: 20px;
  span {
    width: $title-width - 50px;
    display: inline-block;
  }
}

#description {
  @include content(14px);
  top: 80px;
  width: $title-width;
  left: 20px;
}

#refresh {
  float: right;
}
